{
    "botInfo": {
        "version": "0.0.1"
    },
    "discordToken": "",
    "votingKeys": {
        "topgg": "",
        "topggwebhook": "", 
        "botsgg": "",
        "discordbotlist": ""
    },
    "database": {
        "host": "",
        "username": "",
        "password": ""
    }
}