{
    "botInfo": {
        "version": "0.0.1"
    },
    "discordToken": "",
    "votingKeys": {
        "topgg": "",
        "botsgg": ""
    },
    "database": {
        "username": "",
        "password": ""
    }
}